# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
server/data/db.json
server/data/db.published.json
server/uploads/*
nul
server/data/backups/13dd482f-acc8-46f5-ba9e-5a6a7ae7d3a1.json
